* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #333131;
	color: aliceblue;
}
.navbar {
	background: #212020;
}
.navbar-brand {
	color: #fff;
}
.red {
	background-color: #310909;
	height: 300px;
	width: 500px;
	border: 2px solid rgb(1, 2, 1);
	border-radius: 30px;
	padding: 20px;
	margin: 100px auto;
}
